services:
  db:
    image: postgres:15-alpine
    container_name: InfraScore_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: quiz_project
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_gui
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db

  flask-app:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: devops_quiz_app
    restart: always
    ports:
      - "5001:5000"
    environment:
      DB_HOST: db
      DB_NAME: quiz_project
      DB_USER: admin
      DB_PASSWORD: password123
    depends_on:
      - db
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/frontend

volumes:
  postgres_data:
